body, html
{
    height: 100%;
}


.navbar
{
    float: left;
    color: aquamarine;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-right: #003 4px solid;
}

.navbar:hover
{
    background-color: palegoldenrod;
    color: black;
}

.active
{
    float: left;
    color: aquamarine;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-right: #003 4px solid;
    background-color: blue;
}

.active:hover
{
    background-color: gold;
    color: black;
}

#lastnav
{
    border-right: none;
}



.container
{
    text-align: center;
    margin-top: 100px;
}

#liam_pic
{
    height: 250px;
    width: 250px;
}

#home_left
{
    width: 40%;
    float: left;
    background-color: lightgoldenrodyellow;
    height: 350px;
    overflow: auto;
    border: 8px outset;
    border-color: gold;
    display: block;
    margin-left: 15%;
    text-align: center;
    padding: 2%;
}

#home_right
{
    width: 250px;
    height: 250px;
    float: right;
    background-color: lightgoldenrodyellow;
    border: 8px outset;
    border-color: gold;
    display: block;
    margin-right: 10%;
    text-align: center;
    position: absolute;
    margin-left: 65%;
    margin-top: 50px;
}



.title
{
    font-family: "Courier New";
    font-size: 40px;
    text-align: center;
    color: darkgoldenrod;
    margin-top: -50px;
    margin-bottom: 20px;
}

.proj_text
{
    width: 40%;
    float: left;
    background-color: lightgoldenrodyellow;
    height: 250px;
    overflow: auto;
    border: 8px outset;
    border-color: gold;
    display: block;
    margin-left: 15%;
    text-align: center;
    padding: 2%;
}

.proj_img
{
    float: right;
    background-color: lightgoldenrodyellow;
    border: 8px outset;
    border-color: gold;
    display: block;
    margin-right: 10%;
    text-align: center;
    position: absolute;
    margin-left: 65%;
    margin-top: 50px;
}

.skillexperience
{
    width: 60%;
    background-color: lightgoldenrodyellow;
    height: 150px;
    overflow: auto;
    border: 8px outset;
    border-color: gold;
    display: inline-block;
    text-align: center;
    padding: 2%;
}


#name
{
    background-color: lightgoldenrodyellow;
    width: 200px;
    height: 30px;
    font-family: "Courier New";
    font-size: 16px;
    text-align: center;
    color: darkblue;
    border: 8px outset;
    border-color: gold;
    margin-top: -50px;
}

#forum_submit
{
    background-color: lightgoldenrodyellow;
    width: 100px;
    height: 40px;
    font-family: "Courier New";
    font-size: 16px;
    text-align: center;
    color: darkblue;
    border: 8px outset;
    border-color: gold;
    margin-left: 20px;
    margin-top: -100px;
    overflow: auto;
}

input, button
{
    border-radius: 5px;
}

#messages
{
    background-color: lightgoldenrodyellow;
    width: 65%;
    margin: auto;
    height: 300px;
    font-family: "Courier New";
    font-size: 16px;
    padding: 2%;
    overflow: auto;
    color: darkblue;
    border: 8px outset;
    border-bottom: none;
    border-color: gold;
    margin-top: 50px;
}

#message_input
{
    background-color: lightgoldenrodyellow;
    width: 65%;
    height: 50px;
    font-family: "Courier New";
    font-size: 16px;
    padding: 2px;
    color: darkblue;
    padding: 2%;
    border: 8px outset;
    border-color: gold;
}

#send_message
{
    background-color: lightgoldenrodyellow;
    width: 100px;
    height: 40px;
    font-family: "Courier New";
    font-size: 16px;
    text-align: center;
    color: darkblue;
    border: 8px outset;
    border-color: gold;
    overflow: auto;
}






header
{
    overflow: hidden;
    background-color: darkblue;
    font-family: "Courier New";
    font-size: 40px;
    text-align: center;
    opacity: 0.8;
    border: 4px solid;
    border-color: darkgoldenrod;
}

/*.footer
{
    position: fixed;
    left: 30%;
    bottom: 0;
    width: 40%;
    overflow: auto;
    background-color: darkblue;
    font-family: "Courier New";
    font-size: 40px;
    text-align: center;
    opacity: 0.8;
    border: 4px solid;
    border-color: darkgoldenrod;
    display: inline-block;
    color: aquamarine;
}*/

.footer
{
    width: 500px;
    margin: auto;
    overflow: auto;
    background-color: darkblue;
    font-family: "Courier New";
    font-size: 40px;
    text-align: center;
    opacity: 0.8;
    border: 4px solid;
    border-color: darkgoldenrod;
    color: aquamarine;
    bottom: 0;
}

h2
{
    color: mediumaquamarine;
    font-family: "Courier New";
}

h3
{
    color: mediumaquamarine;
    font-family: "Courier New";
}

/* Concept sourced from https://css-tricks.com/examples/hrs/ */

hr
{
    margin-top: 400px;
    border: none;
    color: #666;
    text-align: center;
}

hr:after
{
    content: "~~~~~~~";
    font-size: 2em;
    font-weight: bold;
}

.mail
{
    margin-top: 10px;
}

.LinkedIn
{
    margin-bottom: -2px;
}

.tiled
{
    background-image: url("images/bananas.png");
    background-repeat: repeat;
    height: 100%;
    background-position: center;
}



