/* The following style is used to remove default settings on all elements made by browsers  */
*{
	margin: 0px;
	padding: 0px;
}

/* The following style is used to eliminate some height issues in some browsers */
html{
	height: 100%;
}

body
{
    height: 100%;
    background-image: url("images/backgrounds/windy.gif");
    background-size: cover;
}

header
{
    width: 100%;
    background-image: url("images/backgrounds/water.gif");
    border-bottom: solid darkblue 4px;
    text-align: center;
    height: 7%;
    z-index: 5;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
}

h1
{
    text-align: center;
}

footer
{
    width: 100%;
    height: 7%;
    position: absolute;
    background-image: url("images/backgrounds/fire.gif");
    right: 0;
    bottom: 0;
    left: 0;
    border-top: solid darkred 4px;
    text-align: center;
    z-index: 5;
    background-size: cover;
    color: white;
}

.grid
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    margin-left: 10%;
    margin-top: 4%;
}

.cover
{
    height: 125px;
    width: 125px;
}

.covers
{
    height: 125px;
    width: 125px;
    background-color: black;
}

.tile
{
    height: 125px;
    width: 125px;
}

.tiles
{
    height: 125px;
    width: 125px;
    background-color: black;
}

#bg
{
    position: absolute;
    margin-left: 10%;
    margin-top: 4%;
    width: 500px;
    height: 500px;
}

.newButton
{
    border-radius: 12px;
    border: solid darkslategray 2px;
    background-color: antiquewhite;
    transition-duration: 0.5s;
    color: darkslategray;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}

.newButton:hover
{
    background-color: darkslategray;
    color: antiquewhite;
}

.description
{
    position: absolute;
    padding: 10px;
    background-image: url("images/backgrounds/mountain.jpg");
    height: 400px;
    width: 275px;
    margin-top: 11%;
    margin-left: 780px;
    margin-right: 30px;
    border: solid darkslategray 8px;
    color: antiquewhite;
    font-size: 20px;
    top: 0;
    text-align: center;
}


